p, section { color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: center; text-justify: inter-word; }

.display {
  overflow: hidden;

  margin: 5px;
  padding: 12px 12px;

  text-align: right;

  border: 0 none;
  border-radius: 4px;

  color: #3ac569;
  background-color: #000;  
}

.display.-sm-width {
  max-width: 130px;
}

.button {
  overflow: hidden;

  margin: 5px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;

  color: #fff;
  border: 0 none;
  border-radius: 4px;

  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
 
  justify-content: center;
  align-items: center;

  &:hover {
    transition: all 60ms ease;

    opacity: .85;
  }
}

.button.-yellow {
  color: #f15c5c;
  background: #feee7d;
}

.button.-blue {
  color: #fff;
  background: #2b90d9;
}

.button.-green {
  color: #fff;
  background: #3ac569;
}

